<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:core="http://www.mulesoft.org/schema/mule/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">


	<spring:beans>
		<spring:bean id="pollSynchronizer" name="PollSynchronizer"
			class="com.inchcape.util.PollSynchronizer" scope="singleton" />
		<spring:import resource="classpath:batch_framework_configuration.xml"/>
		<spring:import resource="classpath:batch_queue_mechanism.xml"/>
		<!-- <spring:import resource="classpath:batch_target_systems.xml"/> -->
		<spring:import resource="classpath:security_framework_configuration.xml"/>

		<!-- Import LEH resources -->
			<spring:import resource="classpath:leh-common-request-preprocess.xml"/> 
			<spring:import resource="classpath:leh-common-transaction-log-flow.xml"/> 
			<spring:import resource="classpath:error-handling.xml" />
	</spring:beans>

	<http:request-config name="http_Request_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Request Configuration"/>

    
	<!-- Anypoint MQ Configuration Parameters -->
	<!-- <anypoint-mq:config name="Anypoint_MQ_Configuration" doc:name="Anypoint 
		MQ Configuration"> <anypoint-mq:provider url="${amq.url}" clientId="${amq.clientid}" 
		clientSecret="${amq.clientsecret}" /> </anypoint-mq:config> -->

</mule>
